body { padding-top: 60px;}
.float-left { float:left;}
.left-margin { margin-left: 10px;}
.register .left { float: left;}
.tweet-controlls a {margin: 0 10px 0 10px;}
.zoomME a img{ width:72px; height:72px; opacity:0.7;}
.zoomME a:hover img{ width:100px; height:100px; opacity:1;}
a .insideName { color:#00FF00; font-size:10px;}
a:hover .insideName { color:#000000; font-size:15px;}
.highlight a img{ 
	display: block;
    margin-left: auto;
    margin-right: auto;
    opacity:0.7;}
.highlight a:hover  img{ 
	display: block;
    margin-left: auto;
    margin-right: auto;
    opacity:1;}
.highlight a:focus  img{ 
	display: block;
    margin-left: auto;
    margin-right: auto;
    opacity:1;}
.zoomIN a img{ 	width:370px; height:370px; opacity:1;}
.zoomIN a:hover img{ width:600px; height:600px; opacity:1;}
.logo { width:45px; height:35px;}
.span1-5 { width: 140px; margin-top: 10px; }
.top { top-margin:10px; }
.clear-sides { clear: both; }
.left-margin { margin-left: : 20px; }
.top-margin { margin-top: : 20px; padding-top: 20px;}
.brand-link { display: inline ! important; }
.login { width: 100px;}
.static { position: relative;}
.profile {
	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
}