body { padding-top: 60px;}
.float-left { float:left;}
.left-margin { margin-left: 10px;}
.register .left { float: left;}
.tweet-controlls a {margin: 0 10px 0 10px;}
.zoomME a img{ width:72px; height:72px; opacity:0.7;}
.zoomME a:hover img{ width:100px; height:100px; opacity:1;}
a .insideName { color:#00FF00; font-size:10px;}
a:hover .insideName { color:#000000; font-size:15px;}
.highlight a img{ opacity:0.7;}
.highlight a:hover  img{ opacity:1;}
.zoomIN a img{ 	width:370px; height:370px; opacity:1;}
.zoomIN a:hover img{ width:600px; height:600px; opacity:1;}
.logo { width:45px; height:35px;}
.span1-5 { width: 140px; margin-top: 10px; }
.clear-sides { clear: both; }
.left-margin { margin-left: : 20px; }
.top-margin { margin-top: : 20px; padding-top: 20px;}
.brand-link { display: inline ! important; }
.login { width: 100px;}

		wrapper {
			width:600px; 
			margin:0 auto; 
			border-radius:0 0 5px 5px;
			-moz-border-radius:0 0 5px 5px;
			-webkit-border-radius: 0 0 5px 5px;
			background:#fff; 
			border:1px solid #ccc; 
			padding:25px; 
			border-top:none; 
			box-shadow:0 0 5px #ccc;
			-moz-box-shadow:0 0 5px #ccc;
			-webkit-box-shadow:0 0 5px #ccc;
			text-align:left;
		}
		#lightbox {
			position:fixed; /* keeps the lightbox window in the current viewport */
			top:0; 
			left:0; 
			width:100%; 
			height:100%; 
			background:url(overlay.png) repeat; 
			text-align:center;
		}
		#lightbox p {
			text-align:right; 
			color:#fff; 
			margin-right:20px; 
			font-size:12px; 
		}
		#lightbox img {
			box-shadow:0 0 25px #111;
			-webkit-box-shadow:0 0 25px #111;
			-moz-box-shadow:0 0 25px #111;
			max-width:940px;
		}
